{% extends "base.html" %}

{% block title %}Flasky - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello, {{ current_user.username }}!
    </h1>
    <h3>Welcome to One Hour.</h3>
    <br>
    <form action="/auth/newtask" method="POST">
        <a href="{{url_for('auth.newtask')}}"><input type="submit" name="new" value="New task"></a>
        <a href="{{url_for('auth.newtask')}}"><input type="submit" name="history" value="History"></a>
    </form>
    <br>
    <p>{{history_list}}</p>
</div>
{% endblock %}