.button{
			background: #acf;
			cursor:pointer;
			width:60px;
			height:30px;
			border-radius: 4px;
			font-weight: bold;
		}

		.divc{
			
			text-align: center;
			padding-top: 15px;
			padding-bottom: 10px;
			margin-left: 25%;
			margin-right: 25%;
			margin-top: 4%;
		}
		.inputc{
			height:25px;
			border-radius: 4px;
			padding-left:5px;
			 background:#fee
		}
		.notec{
			float:right;
			color:#f00;
			margin-right: 5px;
			font-weight: bold;
			visibility: hidden;
		}